/*agar border radius di tepi semua element = 0*/

/* * :not(.label) {
    border-radius: 0px !important;
} */

:root {
    --google-grey-100-rgb: 241, 243, 244;
    --google-grey-100: rgb(var(--google-grey-100-rgb));
    --google-grey-200-rgb: 232, 234, 237;
    --google-grey-200: rgb(var(--google-grey-200-rgb));
    --google-grey-300-rgb: 218, 220, 224;
    --google-grey-300: rgb(var(--google-grey-300-rgb));
    --google-grey-400-rgb: 189, 193, 198;
    --google-grey-400: rgb(var(--google-grey-400-rgb));
    --google-grey-500-rgb: 154, 160, 166;
    --google-grey-500: rgb(var(--google-grey-500-rgb));
    --google-grey-600-rgb: 128, 134, 139;
    --google-grey-600: rgb(var(--google-grey-600-rgb));
    --google-grey-700-rgb: 95, 99, 104;
    --google-grey-700: rgb(var(--google-grey-700-rgb));
    --google-grey-800-rgb: 60, 64, 67;
    --google-grey-800: rgb(var(--google-grey-800-rgb));
    --google-grey-900-rgb: 32, 33, 36;
    --google-grey-900: rgb(var(--google-grey-900-rgb));
    --darkBG: #232B32;
    --whiteBG: white;
}

@media screen and (max-width: 700px) {
    .cari_data {
        /* float: none; */
        width: 70% !important;
    }
}

.ui.tab.segment.active,
.pusher {
    background-color: var(--whiteBG);
}

.ui.tab.segment.active.inverted,
.pusher.inverted {
    background-color: var(--google-grey-900);
}

/* Styling for inputs and textareas outside .ui.dropdown */
.ui.form.inverted textarea,
.ui.input.inverted.textarea {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    background: #1b1c1d !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

/* Styling for inputs and textareas outside .ui.dropdown */
.form.inverted:not(.ui.dropdown) input,
.ui.input.inverted:not(.transparent):not(.ui.dropdown) input {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #1b1c1d;
    color: rgba(255, 255, 255, 0.8);
}

/* Focus styling for inputs and textareas outside .ui.dropdown */
.ui.form.inverted textarea:focus,
.ui.input.inverted.textarea:focus {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    background: var(--darkBG) !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

/* Focus styling for inputs and textareas outside .ui.dropdown */
.form.inverted:not(.ui.dropdown) input:focus,
.ui.input.inverted:not(.transparent):not(.ui.dropdown) input:focus {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: var(--darkBG);
    color: rgba(255, 255, 255, 0.8);
}

/* Reset styles for inputs and textareas inside .ui.dropdown */
.ui.dropdown input,
.ui.dropdown textarea {
    border: none !important;
    background: none !important;
    color: inherit !important;
}

body.inverted {
    background-color: var(--darkBG) !important;
}

.ui.form.inverted input::selection,
textarea::selection {
    background-color: rgba(100, 100, 100, .4);
    color: rgb(255, 255, 255) !important;
}

/* untuk label fields di form inverted */
.ui.form.inverted .grouped.fields>label {
    color: rgb(255, 255, 255) !important;
}

.ui.input.multi input[type="text"]:not(:first-child) {
    border-radius: 0 !important;
}

h1.spin {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: 100;
    font-size: 1.6em;
    color: #a3e1f0;
}

span.spin {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}

.let1 {
    -webkit-animation: drop 1.2s ease-in-out infinite;
    animation: drop 1.2s ease-in-out infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.let2 {
    -webkit-animation: drop 1.2s ease-in-out infinite;
    animation: drop 1.2s ease-in-out infinite;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.let3 {
    -webkit-animation: drop 1.2s ease-in-out infinite;
    animation: drop 1.2s ease-in-out infinite;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.let4 {
    -webkit-animation: drop 1.2s ease-in-out infinite;
    animation: drop 1.2s ease-in-out infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.let5 {
    -webkit-animation: drop 1.2s ease-in-out infinite;
    animation: drop 1.2s ease-in-out infinite;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.let6 {
    -webkit-animation: drop 1.2s ease-in-out infinite;
    animation: drop 1.2s ease-in-out infinite;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.let7 {
    -webkit-animation: drop 1.2s ease-in-out infinite;
    animation: drop 1.2s ease-in-out infinite;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        top: 6.94em
    }
}

/* .putar {
    position: relative;
    width: 110px;
    height: 110px;
    background: transparent;
    border: 1px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 111px;
    font-family: sans-serif;
    color: #fff000;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.putar2 {
    position: relative;
    position: relative;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
}

.putar2 span {
    position: absolute;
    width: 2.5px;
    height: 62.5px;
    background: transparent;
    border-bottom: 10px solid transparent;
    transform-origin: bottom;
    transform: rotate(calc(22.5deg * var(--i)));
}

.putar2 span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 12.5px;
    background: #0af;
    box-shadow: 0 0 5px #0af;
    border-radius: 2.5px;
    animation: animate 1.5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translate(40px) rotate(-45deg);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: translate(22.5px)
    }
    100% {
        transform: translate(40px) rotate(45deg);
        filter: hue-rotate(360deg);
    }
}


.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff000;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right: 3px solid #fff000;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

span.spin {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

span.spin:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
} */


#map {
    width: 100%;
    height: 500px;
    /*height: 80vh;*/
}

/* .ui.container {
    position: fixed !important;
} */


/* Dark Mode */
.dark-mode {
    background-color: #121212;
    /* Ganti dengan warna latar belakang dark mode */
    color: #ffffff;
    /* Ganti dengan warna teks pada dark mode */
    /* Tambahkan gaya tambahan sesuai kebutuhan */
}

/* Contoh: Mengubah warna teks untuk semua elemen UI */
.dark-mode .ui {
    color: #ffffff;
    background-color: #1a1a1a;
    /* Ganti dengan warna teks untuk elemen UI pada dark mode */
}

/* Contoh: Mengubah warna latar belakang untuk semua elemen UI */
.dark-mode .ui.segment {
    background-color: #1a1a1a;
    /* Ganti dengan warna latar belakang elemen segment pada dark mode */
}

/* untuk merapikan text dropdown yg ada deskripsi */
.ui.dropdown div.text {
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
}

.pusher .ui.tab.basic.segment {
    margin: 0px !important;
    height: calc(100vh - 45px - 90px) !important;
    overflow-y: auto;
}

.ui.visible.overlay.flyout {
    height: calc(100vh - 45px) !important;
    overflow-y: auto;
}

.ui.visible.overlay.flyout .form.scrolling {
    height: calc(100vh - 45px - 175px) !important;
    overflow-y: auto;
}

div.menu.transition.visible {
    z-index: 999 !important;
}

.ui.inverted.red.menu,
.ui.inverted.menu .red.active.item {
    background-color: transparent !important;
}

/* .ui.inverted.form input {
    background: rgba(0, 0, 0, .87) !important;
    color: rgba(0, 0, 0, .87) !important;
} */

/* background: #121212 !important; */
/* rgba(0, 0, 0, .87) */

/* .ui.bottom.attached.pushable {
    margin-top: 44px !important;

} */
/* .ui.segment.pushable {
    max-height: calc(100vh - 45px) !important;
} */

/* .pusher,.pushable{
    max-height: calc(100% - 45px) !important;
}
.right.flyout {
    max-height: calc(100% - 45px) !important;
    -webkit-max-logical-height: calc(100% - 45px) !important;
}  
.ui.flyout {
    margin-top: 45px !important;
}
.ui.sticky.dasboard {
    margin-top: 45px !important;
}
.ui.inverted.menu .active.item {
    background-color: transparent;
} */
/* [name="form_flyout"] {
    min-height: calc(100% - 45px) !important;
    max-height: calc(100% - 45px) !important;
} */

.ui.search .prompt {
    border-radius: 500rem !important;
}

.ui.accordion.item {
    padding: 0px;
}

.ui.accordion.item>.title {
    padding: 0.92857143em 1.14285714em;
}

.ui.accordion.item>.title:NOT(.active):hover {
    background: rgba(255, 255, 255, .1);
    /* color: #ffffff; */
}

.cobaColor {
    background: rgba(255, 255, 255, .1);
    color: #ee3939;
}

.ui.accordion.item>.content>.item {
    padding-left: 1.4em;
}

.mlr-0 {
    margin-left: 0px !important;
    margin-right: 0px !important
}

.mlrb-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.plrb-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.p-0 {
    padding: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.m-0 {
    margin: 0px !important;
}

.bg-0 {
    background: rgba(0, 0, 0, 0.00) !important;
}

.bl-0 {
    border: 0px !important;
}

.ui.action.input .ui.dropdown:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.action.input .ui.dropdown:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

[contenteditable] {
    padding: 6px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip,
.leaflet-pane,
.leaflet-popup-tip {
    background-color: rgba(0, 0, 0, 0.771) !important;
    color: #ffffff;
}

/* quote */