/*agar border radius di tepi semua element = 0*/

* {
    border-radius: 0px !important;
}

:root {
    --darkBG: #232B32;
}

body.inverted {
    background-color: var(--darkBG) !important;

}

.putar {
    position: relative;
    width: 110px;
    height: 110px;
    background: transparent;
    border: 1px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 111px;
    font-family: sans-serif;
    color: #fff000;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.putar2 { position: relative;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.putar2 span {
    position: absolute;
    width: 5px;
    height: 62.5px;
    background: transparent;
    border-bottom: 10px solid transparent;
    transform-origin: bottom;
    transform: rotate(calc(22.5deg * var(--i)));
}
.putar2 span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: #0af;
    box-shadow: 0 0 5px #0af;
    border-radius: 2.5px;
    animation: animate 1.5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translate(40px) rotate(-45deg);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: translate(22.5px)
    }
    100% {
        transform: translate(40px) rotate(45deg);
        filter: hue-rotate(360deg);
    }
}



#map {
    width: 100%;
    height: 500px;
    /*height: 80vh;*/
}

/* .ui.container {
    position: fixed !important;
} */
.ui.input.multi input[type="text"]:not(:first-child) {
    border-radius: 0 !important;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    /* Ganti dengan warna latar belakang dark mode */
    color: #ffffff;
    /* Ganti dengan warna teks pada dark mode */
    /* Tambahkan gaya tambahan sesuai kebutuhan */
}

/* Contoh: Mengubah warna teks untuk semua elemen UI */
.dark-mode .ui {
    color: #ffffff;
    background-color: #1a1a1a;
    /* Ganti dengan warna teks untuk elemen UI pada dark mode */
}

/* Contoh: Mengubah warna latar belakang untuk semua elemen UI */
.dark-mode .ui.segment {
    background-color: #1a1a1a;
    /* Ganti dengan warna latar belakang elemen segment pada dark mode */
}

/* untuk merapikan text dropdown yg ada deskripsi */
.ui.dropdown div.text {
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
}

.pusher .ui.tab.basic.segment {
    margin-top: 0px !important;
    height: calc(100vh - 45px - 90px) !important;
    overflow-y: auto;
}

.ui.visible.overlay.flyout {
    height: calc(100vh - 45px) !important;
    overflow-y: auto;
}

.ui.visible.overlay.flyout .form.scrolling {
    height: calc(100vh - 45px - 175px - 14px) !important;
    overflow-y: auto;
}

div.menu.transition.visible {
    z-index: 999 !important;
}

/* .ui.bottom.attached.pushable {
    margin-top: 44px !important;

} */
/* .ui.segment.pushable {
    max-height: calc(100vh - 45px) !important;
} */

/* .pusher,.pushable{
    max-height: calc(100% - 45px) !important;
}
.right.flyout {
    max-height: calc(100% - 45px) !important;
    -webkit-max-logical-height: calc(100% - 45px) !important;
}  
.ui.flyout {
    margin-top: 45px !important;
}
.ui.sticky.dasboard {
    margin-top: 45px !important;
}
.ui.inverted.menu .active.item {
    background-color: transparent;
} */
/* [name="form_flyout"] {
    min-height: calc(100% - 45px) !important;
    max-height: calc(100% - 45px) !important;
} */

.ui.search .prompt {
    border-radius: 500rem !important;
}

.ui.accordion.item {
    padding: 0px;
}

.ui.accordion.item>.title {
    padding: 0.92857143em 1.14285714em;
}

.ui.accordion.item>.title:NOT(.active):hover {
    background: rgba(255, 255, 255, .1);
    /* color: #ffffff; */
}

.cobaColor {
    background: rgba(255, 255, 255, .1);
    color: #ee3939;
}

.ui.accordion.item>.content>.item {
    padding-left: 1.4em;
}

.mlr-0 {
    margin-left: 0px !important;
    margin-right: 0px !important
}

.mlrb-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.plrb-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.p-0 {
    padding: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.m-0 {
    margin: 0px !important;
}

.bg-0 {
    background: rgba(0, 0, 0, 0.00) !important;
}

.bl-0 {
    border: 0px !important;
}

.ui.action.input .ui.dropdown:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.action.input .ui.dropdown:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

[contenteditable] {
    padding: 6px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip,
.leaflet-pane,
.leaflet-popup-tip {
    background-color: rgba(0, 0, 0, 0.771) !important;
    color: #ffffff;
}