body {
    background-image: url("http://localhost/ahsp_mvc/public/img/bg.jpeg");
    background-color: #DADADA;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

body>.grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

blockquote {
    border-left: 4px solid #777777;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 2em;
    margin: 1em 0 2em;
}