h1.color {
    color: navy;
    font-family: times;
    font-size: 24pt;
}

h1.color {
    color: navy;
    font-family: times;
    font-size: 24pt;
    text-decoration: underline
}

p.first {
    color: #003300;
    font-family: helvetica;
    font-size: 12pt
}

p.first span {
    color: #006600;
    font-style: italic
}

p#second {
    color: rgb(00, 63, 127);
    font-family: times;
    font-size: 12pt;
    text-align: justify
}

p#second>span {
    background-color: #FFFFAA
}

table.first {
    color: #003300;
    font-family: helvetica;
    font-size: 8pt;
    border-left: 3px solid red;
    border-right: 3px solid #FF00FF;
    border-top: 3px solid green;
    border-bottom: 3px solid blue;
    background-color: #ccffcc;
    vertical-align: middle
}

th {
    border: 0.5px solid black;
    font-family: helvetica
}

.thback {
    border: 0.5px solid black;
    background-color: grey;
    font-family: helvetica
}

td {
    border: 0.5px solid black;
    height: 20px;
    line-height: 10px
}

.tdback {
    border: 0.5px solid grey;
    background-color: #ffffee;
    height: 20px;
    line-height: 10px
}

td.second {
    border: 2px dashed green
}

div.test {
    color: #CC0000;
    background-color: #FFFF66;
    font-family: helvetica;
    font-size: 10pt;
    border-style: solid solid solid solid;
    border-width: 2px 2px 2px 2px;
    border-color: green #FF00FF blue red;
    text-align: center
}

.lowercase {
    text-transform: lowercase
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.w-2 {
    width: ' . (0.2 / 10 * $lebar_net) . '
}

.w-5 {
    width: ' . (0.5 / 10 * $lebar_net) . '
}

.w-7 {
    width: ' . (0.75 / 10 * $lebar_net) . '
}

.w-10 {
    width: ' . (1 / 10 * $lebar_net) . '
}

.w-15 {
    width: ' . (1.5 / 10 * $lebar_net) . '
}

.w-20 {
    width: ' . (2 / 10 * $lebar_net) . '
}

.w-25 {
    width: ' . (2.5 / 10 * $lebar_net) . '
}

.w-30 {
    width: ' . (3 / 10 * $lebar_net) . '
}

.w-35 {
    width: ' . (3.5 / 10 * $lebar_net) . '
}

.w-40 {
    width: ' . (4 / 10 * $lebar_net) . '
}

.w-45 {
    width: ' . (4.5 / 10 * $lebar_net) . '
}

.w-50 {
    width: ' . (5 / 10 * $lebar_net) . '
}

.w-60 {
    width: ' . (6 / 10 * $lebar_net) . '
}

.w-65 {
    width: ' . (6.5 / 10 * $lebar_net) . '
}

.w-70 {
    width: ' . (7 / 10 * $lebar_net) . '
}

.w-75 {
    width: ' . (7.5 / 10 * $lebar_net) . '
}

.w-80 {
    width: ' . (8 / 10 * $lebar_net) . '
}

.w-85 {
    width: ' . (8.5 / 10 * $lebar_net) . '
}

.w-90 {
    width: ' . (9 / 10 * $lebar_net) . '
}

.w-95 {
    width: ' . (9.5 / 10 * $lebar_net) . '
}

.w-100 {
    width: ' . ($lebar_net) . '
}